<div style="margin-top: 50px; width: 40%; margin-left: auto; margin-right: auto; background-color: lightgrey; padding: 50px;" class="rounded" class="border border-light">
	Confirmation d'inscription
</div>