<div style="margin-top: 50px; width: 40%; margin-left: auto; margin-right: auto; background-color: lightgrey; padding: 50px;" class="rounded" class="border border-light">
		Bienvenue à toi qui possède l'adresse e-mail <%= current_user.email %>
		<br /><br />
		Souhaites-tu obtenir la réponse à la question de l'univers ?
		<br />
		<br />
		Voici le lien vers cette réponse : <%= link_to "Universe Response", universe_path %> !
</div>